<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <div class="container mt-5" id="app">
        <!-- Interpolación de titulo -->
        <h3>{{titulo}}</h3>

        <input type="text" class="form-control my-3" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea">

        <button class="btn btn-primary" @click="agregarTarea">Agregar</button>

        <!-- <h5>{{nuevaTarea}}</h5> -->
                                 <!--   -->
        <div class="mt-3" v-for="(item , index) of tareas">
            <!-- Alerta Bootstrap -->
            <div  role="alert" :class="['alert', item.estado ? 'alert-success' : 'alert-danger']">
                <!-- Se agrega un Flex Bootstrap -->
                <div class="d-flex justify-content-between alingn-items-center">

                    <div>
                        <!-- Interpolación de Array -->
                        {{index}} - {{item.nombre}} - {{item.estado}}
                    </div>
                    <div>

                        <button class="btn btn-success btn-sm" @click="editarTarea(index)">OK</button>
                        <button class="btn btn-danger btn-sm" @click= "eliminarTareas(index)"> X </button>
                    </div>
                </div>
            </div>

        </div>




    </div>

    <!--Agregar CDN Vue.Js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Agregar app.js  -->
    <script src="app.js"></script>
</body>

</html>